@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply bg-[#050505] text-emerald-500 font-mono;
  }
}

/* Custom scrollbar for terminal feel */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #064e3b;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #059669;
}
